@import url("https://fonts.cdnfonts.com/css/wonderbar");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Wonderbar", sans-serif;
  text-align: center;
  font-size: 5vw;
  font-weight: 500;
}

button {
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 1vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: rgba(8, 250, 225, 0.117);
  background-blend-mode: hard-light;
}

.headerUl {
  display: flex;
  gap: 2rem;
}

.headerUl li {
  font-size: 2rem;
  color: rgb(123, 8, 253);
}

.headerUl li:hover,
.headerUl li:focus {
  color: red;
  background-color: aliceblue;
}

#logo {
  width: 3%;
  height: 3%;
}

.meals-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 25vw);
  gap: 3vw;
}

.meal {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 6px;
  align-items: center;
  row-gap: 0.8rem;
  height: 60vh;
}

#mealImg {
  width: 100%;
  height: 60%;
}

.comment,
.reserve {
  padding: 0.2rem;
}

#mealTitle {
  font-size: 1.5rem;
}

#like {
  width: 20px;
}

#likesCounter {
  font-size: 1rem;
}

#mealTitle,
.likeBtn {
  margin-right: 0.8rem;
}

.likeBtn {
  background-color: white;
  border: none;
}

.commentImg {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .meals-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 35vw);
    gap: 5vw;
  }
}
